<div class="emp-details">
  <div class="container">
    <div class="row">
      <i
        (click)="back()"
        id="back"
        name="back"
        class="fa fa-2x fa-arrow-left pl-3 py-4"
        style="color: black; cursor: pointer"
      ></i>
      <div class="col heading">{{ clientHeader }}</div>
      <div class="col d-flex justify-content-end align-items-start mt-4">
        <button
          (click)="saveClient()"
          class="btn btn-dark"
          type="button"
          id="saveClient"
          name="saveClient"
        >
          <i class="fa fa-save"></i> &nbsp; SAVE
        </button>
      </div>
    </div>
  </div>
  <div [formGroup]="clientForm" class="emp-form-group">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 form-title"><b>Basic Information</b></div>
        <div class="col-xl-8 form-content">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" class="address">
                <input
                  formControlName="businessName"
                  matInput
                  placeholder="Business Name"
                  maxlength="100"
                  id="businessName"
                  name="businessName"
                  required
                />
                <mat-error> Business Name is Required. </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="tradeName"
                  matInput
                  placeholder="Legal/Trade Name"
                  maxlength="100"
                  id="tradeName"
                  name="tradeName"
                  required
                />
                <mat-error> Legal/Trade Name is Required. </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xl-4 form-title"><b>Postal Address </b></div>
        <div class="col-xl-8 form-content">
          <div class="row">
            <div class="col-md-8">
              <mat-form-field appearance="legacy" class="address">
                <input
                  formControlName="address"
                  matInput
                  maxlength="50"
                  placeholder="Address"
                  id="address"
                  name="address"
                  required
                />
                <mat-error> Address is Required. </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="zipCode"
                  matInput
                  placeholder="Zip Code"
                  maxlength="15"
                  minlength="6"
                  id="zipCode"
                  name="zipCode"
                  [(ngModel)]="postcode"
                  required
                  (input)="zipCodeDetails($event.target.value)"
                />
                <mat-error> Zip Code is Required. </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-12">
              <mat-form-field appearance="legacy" >
                <input
                  formControlName="city"
                  matInput
                  placeholder="Town/City"
                  (keypress)="allowOnlyChar($event)"
                  id="city"
                  name="city"
                  required
                />
                <mat-error> Town/City is Required. </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-12">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="state"
                  matInput
                  placeholder="Region/County"
                  (keypress)="allowOnlyChar($event)"
                  id="state"
                  name="state"
                  required
                />
                <mat-error> State/Region is Required. </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-12">
              <mat-form-field appearance="legacy">
                <mat-select
                  aria-required="emptype"
                  formControlName="country"
                  placeholder="Country"
                  id="country"
                  name="country"
                >
                  <mat-option *ngFor="let p of countries" [value]="p.id">
                    {{ p.countryName }}
                  </mat-option>
                </mat-select>
                <mat-error> Country is Required. </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xl-4 form-title"><b>Primary Contact </b></div>
        <div class="col-xl-8 form-content">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="firstName"
                  matInput
                  placeholder="First Name"
                  (keypress)="allowOnlyChar($event)"
                  maxlength="30"
                  id="firstName"
                  name="firstName"
                  required
                />
                <mat-error> First Name is Required. </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="middleName"
                  matInput
                  placeholder="Middle Name"
                  (keypress)="allowOnlyChar($event)"
                  id="middleName"
                  name="middleName"
                  maxlength="30"
                />
                <!-- <mat-error> Field is Required. </mat-error> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="lastName"
                  matInput
                  placeholder="Last Name"
                  (keypress)="allowOnlyChar($event)"
                  maxlength="30"
                  id="lastName"
                  name="lastName"
                  required
                />
                <mat-error> Last Name is Required. </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="email"
                  matInput
                  placeholder="Email"
                  maxlength="50"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  id="email"
                  name="email"
                  required
                />
                <mat-error> Please Enter The Valid Email. </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="mobileNumber"
                  matInput
                  placeholder="Mobile Number"
                  (keypress)="($event.charCode >= 8 && $event.charCode < 58)"
                  maxlength="15"
                  minlength="4"
                  type="tel"
                  id="mobileNumber"
                  name="mobileNumber"
                />
                <mat-error> Please Enter a valid Mobile Number</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  formControlName="telephone"
                  matInput
                  placeholder="Telephone"
                  (keypress)="($event.charCode >= 8 && $event.charCode < 58)"
                  maxlength="15"
                  minlength="4"
                  type="tel"
                  id="Telephone"
                  name="Telephone"
                />
                <mat-error> Please Enter a valid Telephone Number</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="!this.editFlag">
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  formControlName="password"
                  minlength="8"
                  id="Password"
                  name="Password"
                  required
                />
                <mat-hint>Minimum 8 characters</mat-hint>
                <mat-error> Password Is Required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input
                  matInput
                  placeholder="Confirm Password"
                  type="password"
                  minlength="8"
                  formControlName="confirmpassword"
                  id="confirmpassword"
                  name="confirmpassword"
                  required
                />
                <mat-hint>Re-Enter Password</mat-hint>
                <mat-error> Confirm Password Is Required.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-4 form-title"><b>Account Information </b></div>
        <div class="col-8"> -->
      <!-- <div class="row">
        <div class="col-4">
          <mat-form-field appearance="legacy">
            <input
              formControlName="accountMail"
              matInput
              placeholder="Email"
              required
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            />
            <mat-error>
              Please Enter The Valid Email.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="legacy">
            <input
              formControlName="password"
              matInput
              placeholder="Password"
              required
              type="password"
            />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="legacy">
            <input
              formControlName="confrimPassword"
              matInput
              placeholder="Confirm Password"
              required
              type="password"
            />
          </mat-form-field>
        </div>

      </div> -->
      <!-- </div>
    </div>
  </div> -->
    </div>
  </div>

  <ng-template #secondDialog>
    <h3 matDialogTitle>Error !</h3>
    <p matDialogContent>{{ dialogMessage }}</p>
    <mat-dialog-actions align="end" style="padding-left: 9rem">
      <button
        (click)="closeDialog()"
        id="closeDialog"
        name="closeDialog"
        mat-raised-button
        matDialogClose
      >
        Dismiss
      </button>
    </mat-dialog-actions>
  </ng-template>

  <ng-template #successDialog>
    <h2 matDialogTitle>Save Successful !</h2>
    <p matDialogContent>{{ dialogMessage }}</p>
    <mat-dialog-actions align="end" style="padding-left: 9rem">
      <button
        (click)="navigateToDashBoard()"
        id="navigateToDashBoard"
        name="navigateToDashBoard"
        mat-raised-button
        matDialogClose
      >
        Navigate To View Clients
      </button>
    </mat-dialog-actions>
  </ng-template>

  <ng-template #backDialog>
    <h3 class="logo" matDialogTitle>Do you want to Exit without Saving??</h3>
    <p matDialogContent></p>
    <mat-dialog-actions align="end" style="padding-left: 9rem">
      <button
        (click)="navigateToDashBoard()"
        id="navigateToDashBoard"
        name="navigateToDashBoard"
        mat-raised-button
        matDialogClose
      >
        Yes
      </button>
      &nbsp;
      <button
        (click)="closeDialog()"
        id="closeDialog"
        name="closeDialog"
        mat-raised-button
        matDialogClose
      >
        No
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>
